@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color-scheme: light;
}

/* Custom Classis from Tailwind Css */
@layer utilities {
    .navLink {
        @apply relative py-1 text-n-4 font-semibold tracking-wide hover:text-n-7 after:content-[""] after:absolute after:bottom-0 after:left-0 after:w-0 after:bg-n-7 after:h-[2px] after:rounded-full hover:after:w-[70%] after:transition-all after:duration-200
    }

    .flex-center {
        @apply flex items-center justify-center
    }

    .input {
        @apply border-2 border-n-7 rounded-md px-3 py-2 focus:outline-none focus:border-n-4 font-medium text-n-4
    }

    .h1 {
        @apply text-[5rem]
    }

    .h2 {
        @apply text-7xl
    }

    .h3 {
        @apply text-[3.4rem]
    }

    .h4 {
        @apply text-[2.5rem]
    }

    .h5 {
        @apply text-[2.13rem]
    }

    .h6 {
        @apply text-[1.75rem]
    }

    .h7 {
        @apply text-xl
    }
}

/* Selection Color */
::selection {
    color: #111;
    background: #ff9d00;
}

/* ScrollBar Styling */

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E8ECEF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343839;
    border-radius: 5px;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}